@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  /* main */
  .main_container {
    width: 500px;
  }

  .main_header {
    height: 62px;
    padding: 0;
  }

  .main_logo {
    position: absolute;
    top: 12.5%;
    left: 5%;
  }

  .main_logo a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/main_logo_2.png);
  }

  nav {
    padding-left: 0;
  }

  nav .main_sub_menu {
    display: none;
    justify-content: space-between;
    padding-top: 42px;
  }

  nav .main_gnb {
    display: none;
  }

  .aside {
    display: flex;
  }

  .slogan,
  .aside .utill,
  .aside .aside_btn {
    display: none;
  }

  .where_when {
    display: block;
    left: 15%;
  }

  .where {
    font-family: "MaplestoryOTFLight";
  }

  .when {
    margin-top: 20px;
    margin-left: 0;
    font-family: "MaplestoryOTFLight";
  }

  /* mobile_utill */
  .menu_icon + label {
    display: block;
  }

  /* best */
  .slide_wrapper {
    width: 500px;
  }
  .best_text {
    text-align: start;
    padding: 120px 35px 20px;
  }
  .best_text p br {
    display: block;
  }
  .best_text p {
    font-size: 33px;
  }
  .best_prev {
    display: none;
  }
  .best_next {
    display: none;
  }
  .slide_wrapper {
    margin: initial;
  }
  .slides li {
  }
  .best_box {
  }
  /* 긴급모객 */
  .res_inner {
    width: 500px;
  }
  .res_title {
    text-align: start;
    padding-bottom: 80px;
  }
  .res_title br {
    display: block;
  }
  .res_menu {
    justify-content: center;
  }

  .res_items {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
  }
  .res_items .res_item:nth-child(2) {
    margin-right: 15px;
  }
  .res_items .res_item:nth-child(4) {
    margin-right: 15px;
  }
  .res_items .res_item {
    width: 222px;
  }
  .res_item .img {
    width: 222px;
  }
  .res_menu li {
    height: 34px;
    line-height: 34px;
    margin-right: 8px;
  }
  .res_menu li:nth-child(1) {
    width: 100px;
  }
  .res_menu li a:nth-child(1) {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 30px;
  }
  .res_menu li:nth-child(2) {
    width: 50px;
  }
  .res_menu li a:nth-child(2) {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 30px;
  }
  .res_menu li:nth-child(3) {
    width: 88px;
  }
  .res_menu li a:nth-child(3) {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 30px;
  }
  .res_menu li:nth-child(4) {
    width: 50px;
  }
  .res_menu li a:nth-child(4) {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 30px;
  }
  .res_menu li:nth-child(5) {
    width: 50px;
  }
  .res_menu li a:nth-child(5) {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 30px;
  }
  .res_menu li:nth-child(6) {
    width: 89px;
  }
  .res_menu li a:nth-child(6) {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 30px;
  }
  .res_menu li a {
    font-size: 15px;
    border: 0;
  }
  .res_menu li a.active_menu {
    border: 0;
    border: 1px solid #73afff;
    color: #1769ff;

    border-radius: 30px;
  }
  .res_item .res_text p {
    font-size: 13px;
  }
  .res_item .res_text span {
    font-size: 11px;
  }
  .res_item .res_text h4 {
    font-size: 15px;
  }
  .res_btn {
    width: 450px;
    margin: 0 auto;
    margin-top: 350px;
  }
  .res_btn::after {
    right: 38%;
  }
  
  /* review */
  .review_box {
    border-top: 0px;
    padding: 200px 0;
  }
  .review_inner {
    width: 100%;
    height: 60px;
  }
  .review_text {
    position: relative;
    top: 50%;
  }
  .review_text > p {
    font-size: 33px;
    text-align: start;
    padding-left: 35px;
    padding-bottom: 0px;
  }
  .review_more {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 10px;
  }
  .review_more p {
    font-size: 12px;
  }
  .review_more::after {
    margin-right: 7px;
    transform: scale(0.7);
    top: -3px;
  }
  @keyframes arrow {
    0% {
      transform: scale(0.7) translateX(0%);
    }
    50% {
      transform: scale(0.7) translateX(30%);
    }
    100% {
      transform: scale(0.7) translateX(0%);
    }
  }

  .review_item {
    width: 97%;
  }
  .review_cont .review_img {
    height: 245px;
  }
  .review_cont .review_img2 {
    height: 245px;
  }
  .review_cont .review_img3 {
    height: 245px;
  }

  /* contact */
  /* contact_box */
  .contact_box {
    width: 500px;
    height: 900px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_box > .contact_wrapper_1 {
    display: block;
    width: 100%;
    height: 400px;
    border: none;
  }

  .contact_wrapper_1 h1 {
    width: 80%;
    height: 80px;
    margin-left: 20px;
    margin-bottom: 0;
    font-family: "MaplestoryOTFLight";
    font-size: 30px;
  }

  /* contact_row */
  .contact_wrapper_1 > .contact_row_1 {
    width: 100%;
  }

  .contact_row_1 > .notice {
    display: flex;
    position: relative;
    justify-content: center;
  }

  .contact_row_1 > .notice a {
    width: 90%;
    height: 41px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 15px;
  }

  .notice span {
    position: absolute;
    top: 25px;
    left: 0;
    color: #666;
    font-size: 12px;
  }

  .contact_row_1 > .link_wrapper {
    display: none;
  }

  /* contact_row_2 */
  .contact_wrapper_1 > .contact_row_2 {
    width: 100%;
    height: 400px;
  }

  .contact_row_2 > .help_wrapper {
    display: block;
    height: 300px;
  }

  .help_wrapper > .help_row_1 {
    width: 90%;
    height: 200px;
    margin-left: 20px;
  }

  /* tel_box */
  .help_row_1 > div {
    width: 100%;
    font-family: "MaplestoryOTFLight";
  }

  /* .help_row_2 */
  .help_wrapper .help_row_2 {
    flex-direction: row;
    justify-content: start;
    width: 90%;
    height: 80px;
    margin-left: 20px;
  }

  .help_row_2 > .help_btn {
    justify-content: start;
    width: 200px;
    margin-top: 50px;
    margin-left: 0;
  }

  

  .contact_wrapper_2 {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  .contact_wrapper_2 .contact_nav {
    display: block;
    width: 500px;
    height: 45px;
  }

  .contact_nav > ul {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
  }

  .contact_nav > ul > li {
    position: relative;
    flex-grow: 1;
    height: 100%;
  }

  .contact_nav > ul > li:first-child > a::after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 40%;
    background-color: #999;
    content: "";
  }

  .contact_nav > ul > li:last-child > a::before {
    position: absolute;
    left: 0;
    width: 1px;
    height: 40%;
    background-color: #999;
    content: "";
  }

  .contact_nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "MaplestoryOTFLight";
    font-size: 13px;
  }

  /* contact_link */
  .contact_wrapper_2 > .link_wrapper {
    justify-content: center;
    height: 50px;
    margin-top: 15px;
  }

  .link_wrapper > .link_box {
    margin: 0 10px;
  }

  /* footer_box */
  .footer_box {
    display: block;
    width: 500px;
    height: 500px;
    margin-top: 100px;
  }

  .footer_box > .footer_wrapper {
    width: 100%;
  }

  /* footer_app_nav */
  .footer_wrapper .footer_app_nav {
    display: block;
    width: 100%;
    height: 40px;
  }

  .footer_app_nav > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }

  .footer_app_nav li {
    height: 10px;
    margin-right: 15px;
  }

  .footer_app_nav li a {
    font-size: 12px;
  }

  /* fotter_content */
  .footer_wrapper .footer_content {
    display: block;
    width: 100%;
    height: 430px;
    margin-top: 40px;
  }

  .footer_content > div {
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .footer_content > div:last-child {
    margin-right: 0;
  }

  .footer_content h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .footer_content li {
    font-family: "MaplestoryOTFLight";
    font-size: 12px;
    line-height: 15px;
  }

  /* .footer_br_line */
  .footer_wrapper > .footer_br_line {
    display: none;
  }

  /* footer_award */
  .footer_wrapper > .footer_award {
    display: none;
  }
}
