@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
th,
td,
a,
select,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "MaplestoryOTFBold";
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;
  list-style: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header_area */
header {
  width: 1903px;
  height: 105px;
  background-color: lightcoral;
}

/* ticketing_wrapper */
.ticketing_wrapper {
  width: 1903px;
  height: 700px;
}

.ticketing_box {
  width: 1280px;
  height: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
}

.ticketing_box > h1 {
  font-family: "MaplestoryOTFLight";
  font-size: 30px;
}

/* tab_wrapper */
.tab_wrapper {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

.tab_menu {
  display: flex;
}

.tab_menu li {
  list-style: none;
  border: 1px solid #000;
  background-color: lightgray;

  border-radius: 10px 10px 0 0;
}

.tab_menu li a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 1.3rem;
  display: block;
  padding: 0.5rem 2.5rem;
  box-sizing: border-box;
}

.tab_menu li a.active {
  background-color: black;
  color: #fff;
}

/* tab_content */
.tab_content > div {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  /* 안보이게 */
  display: none;
}

.tab_content .content_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  border: 1px solid #000;
  border-radius: 25px;
}

.content_box > div {
  height: 170px;
}

/* destination */
.tab_content .destination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 541px;
  height: 100%;
  border-right: 1px dashed #767676;
}

/* destination - button */
.destination button {
  width: 110px;
  height: 60px;
  background: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.destination button:hover {
  border: 1.5px solid #2b54c4;
}

.destination button.start {
  color: #000;
}

.destination button.arrival {
  color: #767676;
}


.destination button > span:first-child {
  display: block;
  font-family: "MaplestoryOTFBold";
  font-size: 30px;
}

.destination button > span:last-child {
  font-family: "MaplestoryOTFLight";
  font-size: 15px;
}

.destination > .route {
  display: flex;
  width: 230px;
  height: 90px;
}

.destination .route > div:nth-child(2n-1) {
  width: 80px;
  height: 44px;
  border-bottom: 1px dashed #61b3ff;
}

.destination .route > div:nth-child(2) {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.destination .route > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}

.tab_content .planner {
  width: 401px;
  border: 1px solid red;
}

.tab_content .personnel {
  width: 338px;
  border: 1px solid red;
}
