@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
th,
td,
a,
select,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "MaplestoryOTFBold";
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;
  list-style: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header_area */
header {
  width: 1903px;
  height: 105px;
  background-color: lightcoral;
}

/* ticketing_wrapper */
.ticketing_wrapper {
  width: 1903px;
  height: auto;
  margin-bottom: 300px;
}

.ticketing_box {
  width: 1280px;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.ticketing_box > h1 {
  font-family: "MaplestoryOTFLight";
  font-size: 30px;
}

/* tab_wrapper */
.tab_wrapper {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.tab_menu {
  display: flex;
}

.tab_menu li {
  position: relative;
  width: 70px;
  height: 30px;
  margin-right: 30px;
}

.tab_menu li a {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  color: gray;
  font-family: "MaplestoryOTFLight";
  font-size: 15px;
}

.tab_menu .outside_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 0;
  z-index: -1;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.tab_menu > li:hover .outside_circle {
  border: 1px solid #2b54c4;
}

.outside_circle > .inside_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.tab_menu li a.active {
  color: #000;
}

.tab_menu li a.active + .outside_circle > .inside_circle {
  background-color: #000;
}

/* tab_content */
.tab_content > div {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  /* 안보이게 */
  display: none;
}

.tab_content .content_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 4px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #61b3ff 0%, #00256c 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 25px;
}

.content_box > div {
  height: 160px;
}

.content_box div button {
  background: none;
  border: none;
  border-radius: 10px;
}

.content_box div button:hover {
  border: 1.5px solid #2b54c4;
}

/* destination */
.tab_content .destination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 551px;
  border-right: 1px dashed #767676;
}

/* destination - button */
.destination button {
  width: 110px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.destination button.start_btn {
  color: #000;
}

.destination button.arrival_btn {
  color: #767676;
}

.destination button > span:first-child {
  display: block;
  font-family: "MaplestoryOTFBold";
  font-size: 30px;
}

.destination button > span:last-child {
  font-family: "MaplestoryOTFLight";
  font-size: 15px;
}

.destination > .route {
  display: flex;
  width: 230px;
  height: 90px;
}

.destination .route > div:nth-child(2n-1) {
  width: 80px;
  height: 44px;
  border-bottom: 1px dashed #61b3ff;
}

.destination .route > div:nth-child(2) {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.destination .route > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}

/* planner */
.tab_content .planner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 391px;
  border-right: 1px dashed #767676;
}

/* planner - button */
.planner button.planner_btn {
  width: 160px;
  height: 60px;
  color: #767676;
  cursor: pointer;
}

button.planner_btn > div:first-child {
  margin-left: 35px;
  font-size: 12px;
  font-family: "MaplestoryOTFLight";
  text-align: left;
}

button.planner_btn > div:last-child {
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 2.5px;
}

button.planner_btn span.img_box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

button.planner_btn span.img_box > img {
  width: 100%;
  height: 100%;
}

/* personnel */
.tab_content .personnel {
  width: 338px;
}

/* personnel - button */
.personnel > button {
  position: relative;
  display: block;
  width: 290px;
  height: 55px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  cursor: pointer;
}

.personnel > button > div {
  color: #767676;
  font-family: "MaplestoryOTFLight";
}

.personnel > button > div:nth-child(1) {
  margin-top: 5px;
  font-size: 11px;
}

.personnel > button > div:nth-child(2) {
  margin-top: 10px;
  font-size: 14px;
}

.personnel > button.passenger_btn > div:nth-child(2) {
  color: #000;
}

.personnel > button > div:nth-child(3) {
  height: 1px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}

.personnel > button:hover > div:nth-child(3) {
  visibility: hidden;
}

/* personnel - button - img_box */
.personnel > button .img_box {
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

.personnel > button .img_box img {
  width: 100%;
  height: 100%;
}

.personnel > button:hover .img_box {
  transform: translateX(-8px);
}

/* airplane_search_btn */
.tab_content .airplane_search_btn {
  display: block;
  width: 300px;
  height: 60px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 10px;
  background-color: #00256c;
  color: #fff;
  font-family: "MaplestoryOTFLight";
  font-size: 18px;
  cursor: pointer;
}

/* tab3 CSS */
.tab_content #tab3 {
  height: 400px;
}

.tab_content #tab3 > .content_box {
  display: flex;
}

/* content_box_row_1 */
.tab_content #tab3 .content_box_row_1 {
  display: block;
  width: 942px;
  height: 370px;
  border-right: 1px dashed #767676;
}

.content_box_row_1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 185px;
}

.content_box_row_1 .journey {
  position: absolute;
  top: -20px;
  left: 80px;
  color: #767676;
  font-family: "MaplestoryOTFLight";
  font-size: 13px;
  letter-spacing: 1.5px;
}

.tab_content #tab3 div.destination,
.tab_content #tab3 div.planner {
  position: relative;
  border: none;
  height: 50%;
}

.content_box_row_1 > .dashed_line {
  width: 890px;
  height: 1px;
  margin: 0 auto;
  border-top: 1px dashed #767676;
}

/* content_box_row_2 */
.content_box .content_box_row_2 {
  display: flex;
  align-items: start;
  width: 338px;
  height: 370px;
}

/* footer_box */
.footer_box {
  width: 1903px;
  height: 440px;
}

.footer_box > .footer_wrapper {
  width: 1570px;
  height: 100%;
  margin: 0 auto;
}

/* footer_app_nav */
.footer_wrapper .footer_app_nav {
  display: flex;
  align-items: center;
  margin-top: 35px;
  width: 100%;
  height: 34px;
}

.footer_app_nav > ul {
  display: flex;
}

.footer_app_nav li {
  margin-right: 15px;
}

.footer_app_nav li a {
  font-family: "MaplestoryOTFlight";
  font-size: 15px;
}

/* fotter_content */
.footer_wrapper .footer_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 183px;
  margin-top: 65px;
}

.footer_content > div {
  width: 400px;
  height: 100%;
}

.footer_content > div:last-child {
  margin-right: 30px;
}

.footer_content h1 {
  color: #000;
  font-size: 25px;
  margin-bottom: 10px;
}

.footer_content li {
  color: #666;
  font-family: "MaplestoryOTFlight";
  font-size: 14px;
  line-height: 21px;
}

/* .footer_br_line */
.footer_wrapper > .footer_br_line {
  width: 100%;
  height: 1px;
  background-color: rgba(102, 102, 102, 0.5);
}

/* footer_award */
.footer_wrapper > .footer_award {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 40px;
}

.footer_award > .award_box {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  margin-right: 51px;
  cursor: pointer;
}

.award_box > div {
  margin-right: 15px;
}

.award_box > #award_img_box_1 {
  width: 50px;
  height: 44px;
}

.award_box > #award_img_box_2 {
  width: 50px;
  height: 45px;
}

.award_box > #award_img_box_3 {
  width: 50px;
  height: 49px;
}

.award_box > #award_img_box_4 {
  width: 50px;
  height: 50px;
}

.award_box > #award_img_box_6 {
  width: 60px;
  height: 46px;
}

.award_img_box > img {
  width: 100%;
  height: 100%;
}

.award_box > .award_text_box {
  color: #999;
  font-size: 13px;
  font-weight: 400;
}

/* mobile_screen_midea */
@media screen and (max-width: 500px) {
  /* ticketing_wrapper */
  .ticketing_wrapper {
    width: 500px;
    background-color: #f1f3f6;
    border-radius: 25px;
  }

  .ticketing_box > h1 {
    padding-top: 20px;
  }

  .ticketing_box {
    width: 480px;
  }

  /* tab_menu */
  .tab_menu {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;
  }

  .tab_menu li {
    position: relative;
    width: auto;
    height: 30px;
    margin-right: 10px;
  }

  .tab_menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: gray;
    font-family: "MaplestoryOTFLight";
    padding-left: 0;
    font-size: 17px;
  }

  .tab_menu .outside_circle,
  .outside_circle > .inside_circle {
    display: none;
  }

  .tab_menu li a.active {
    font-family: "MaplestoryOTFBold";
    color: #2b54c4;
    border-bottom: 3px solid #00256c;
  }

  /* tab_content */
  .tab_content {
    width: 460px;
    margin: 0 auto;
  }

  .tab_content > div {
    margin-top: 10px;
  }

  .tab_content .content_box {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: #f1f3f6;
    background-image: none;
  }

  .content_box > div {
    height: auto;
  }

  /* destination */
  .tab_content .destination {
    position: relative;
    width: 100%;
    border: none;
    border-radius: 25px 25px 0 0;
    background-color: #fff;
  }

  .tab_content .destination::before {
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 1px;
    border-bottom: 1px dashed #767676;
    content: "";
  }

  /* destination - button */
  .destination button > span:first-child {
    font-size: 35px;
  }

  .destination button > span:last-child {
    padding-top: 20px;
    font-size: 17px;
  }

  .destination > .route {
    justify-content: center;
  }

  .destination .route > div:nth-child(2n-1) {
    display: none;
  }

  .destination .route > div:nth-child(2) {
    align-self: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }

  .destination .route > div:nth-child(2) > img {
    width: 100%;
    height: 100%;
  }

  /* planner */
  .tab_content .planner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 391px;
    border-right: 1px dashed #767676;
  }

  /* planner - button */
  .planner button.planner_btn {
    width: 160px;
    height: 60px;
    color: #767676;
    cursor: pointer;
  }

  button.planner_btn > div:first-child {
    margin-left: 35px;
    font-size: 12px;
    font-family: "MaplestoryOTFLight";
    text-align: left;
  }

  button.planner_btn > div:last-child {
    display: flex;
    align-items: center;
    font-size: 17px;
    letter-spacing: 2.5px;
  }

  button.planner_btn span.img_box {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  button.planner_btn span.img_box > img {
    width: 100%;
    height: 100%;
  }

  /* personnel */
  .tab_content .personnel {
    width: 338px;
  }

  /* personnel - button */
  .personnel > button {
    position: relative;
    display: block;
    width: 290px;
    height: 55px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    cursor: pointer;
  }

  .personnel > button > div {
    color: #767676;
    font-family: "MaplestoryOTFLight";
  }

  .personnel > button > div:nth-child(1) {
    margin-top: 5px;
    font-size: 11px;
  }

  .personnel > button > div:nth-child(2) {
    margin-top: 10px;
    font-size: 14px;
  }

  .personnel > button.passenger_btn > div:nth-child(2) {
    color: #000;
  }

  .personnel > button > div:nth-child(3) {
    height: 1px;
    border-bottom: 1px solid #000;
    margin-top: 10px;
  }

  .personnel > button:hover > div:nth-child(3) {
    visibility: hidden;
  }

  /* personnel - button - img_box */
  .personnel > button .img_box {
    position: absolute;
    top: 10px;
    right: 0;
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
  }

  .personnel > button .img_box img {
    width: 100%;
    height: 100%;
  }

  .personnel > button:hover .img_box {
    transform: translateX(-8px);
  }

  /* airplane_search_btn */
  .tab_content .airplane_search_btn {
    display: block;
    width: 300px;
    height: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #00256c;
    color: #fff;
    font-family: "MaplestoryOTFLight";
    font-size: 18px;
    cursor: pointer;
  }

  /* tab3 CSS */
  .tab_content #tab3 {
    height: 400px;
  }

  .tab_content #tab3 > .content_box {
    display: flex;
  }

  /* content_box_row_1 */
  .tab_content #tab3 .content_box_row_1 {
    display: block;
    width: 942px;
    height: 370px;
    border-right: 1px dashed #767676;
  }

  .content_box_row_1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185px;
  }

  .content_box_row_1 .journey {
    position: absolute;
    top: -20px;
    left: 80px;
    color: #767676;
    font-family: "MaplestoryOTFLight";
    font-size: 13px;
    letter-spacing: 1.5px;
  }

  .tab_content #tab3 div.destination,
  .tab_content #tab3 div.planner {
    position: relative;
    border: none;
    height: 50%;
  }

  .content_box_row_1 > .dashed_line {
    width: 890px;
    height: 1px;
    margin: 0 auto;
    border-top: 1px dashed #767676;
  }

  /* content_box_row_2 */
  .content_box .content_box_row_2 {
    display: flex;
    align-items: start;
    width: 338px;
    height: 370px;
  }

  /* footer_box */
  .footer_box {
    width: 1903px;
    height: 440px;
  }

  .footer_box > .footer_wrapper {
    width: 1570px;
    height: 100%;
    margin: 0 auto;
  }

  /* footer_app_nav */
  .footer_wrapper .footer_app_nav {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    height: 34px;
  }

  .footer_app_nav > ul {
    display: flex;
  }

  .footer_app_nav li {
    margin-right: 15px;
  }

  .footer_app_nav li a {
    font-family: "MaplestoryOTFlight";
    font-size: 15px;
  }

  /* fotter_content */
  .footer_wrapper .footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 183px;
    margin-top: 65px;
  }

  .footer_content > div {
    width: 400px;
    height: 100%;
  }

  .footer_content > div:last-child {
    margin-right: 30px;
  }

  .footer_content h1 {
    color: #000;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .footer_content li {
    color: #666;
    font-family: "MaplestoryOTFlight";
    font-size: 14px;
    line-height: 21px;
  }

  /* .footer_br_line */
  .footer_wrapper > .footer_br_line {
    width: 100%;
    height: 1px;
    background-color: rgba(102, 102, 102, 0.5);
  }

  /* footer_award */
  .footer_wrapper > .footer_award {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 40px;
  }

  .footer_award > .award_box {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    margin-right: 51px;
    cursor: pointer;
  }

  .award_box > div {
    margin-right: 15px;
  }

  .award_box > #award_img_box_1 {
    width: 50px;
    height: 44px;
  }

  .award_box > #award_img_box_2 {
    width: 50px;
    height: 45px;
  }

  .award_box > #award_img_box_3 {
    width: 50px;
    height: 49px;
  }

  .award_box > #award_img_box_4 {
    width: 50px;
    height: 50px;
  }

  .award_box > #award_img_box_6 {
    width: 60px;
    height: 46px;
  }

  .award_img_box > img {
    width: 100%;
    height: 100%;
  }

  .award_box > .award_text_box {
    color: #999;
    font-size: 13px;
    font-weight: 400;
  }
}
