@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaplestoryOTFlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
th,
td,
a,
select,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "MaplestoryOTFBold";
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;
  list-style: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header_area */
header {
  width: 1903px;
  height: 105px;
  background-color: lightcoral;
}

/* ticketing_wrapper */
.ticketing_wrapper {
  width: 1903px;
  height: 700px;
}

.ticketing_box {
  width: 1280px;
  height: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.ticketing_box > h1 {
  font-family: "MaplestoryOTFLight";
  font-size: 30px;
}

/* tab_wrapper */
.tab_wrapper {
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid red;
}

.tab_menu {
  display: flex;
}

.tab_menu li {
  position: relative;
  width: 70px;
  height: 30px;
  margin-right: 30px;
}

.tab_menu li a {
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  color: gray;
  font-family: "MaplestoryOTFLight";
  font-size: 15px;
}

.tab_menu .outside_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7px;
  left: 0;
  z-index: -1;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.outside_circle > .inside_circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.tab_menu li a.active {
  color: #000;
}

.tab_menu li a.active + .outside_circle > .inside_circle {
  background-color: #000;
}


/* tab_content */
.tab_content > div {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  /* 안보이게 */
  display: none;
}

.tab_content .content_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 25px;
}

.content_box > div {
  height: 160px;
}

.content_box div button {
  background: none;
  border: none;
  border-radius: 10px;
}

.content_box div button:hover {
  border: 1.5px solid #2b54c4;
}

/* destination */
.tab_content .destination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 551px;
  border-right: 1px dashed #767676;
}

/* destination - button */
.destination button {
  width: 110px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.destination button.start_btn {
  color: #000;
}

.destination button.arrival_btn {
  color: #767676;
}

.destination button > span:first-child {
  display: block;
  font-family: "MaplestoryOTFBold";
  font-size: 30px;
}

.destination button > span:last-child {
  font-family: "MaplestoryOTFLight";
  font-size: 15px;
}

.destination > .route {
  display: flex;
  width: 230px;
  height: 90px;
}

.destination .route > div:nth-child(2n-1) {
  width: 80px;
  height: 44px;
  border-bottom: 1px dashed #61b3ff;
}

.destination .route > div:nth-child(2) {
  align-self: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.destination .route > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}

/* planner */
.tab_content .planner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 391px;
  border-right: 1.5px dashed #767676;
}

/* planner - button */
.planner button.planner_btn {
  width: 160px;
  height: 60px;
  color: #767676;
  cursor: pointer;
}

button.planner_btn > div:first-child {
  margin-left: 35px;
  font-size: 12px;
  font-family: "MaplestoryOTFLight";
  text-align: left;
}

button.planner_btn > div:last-child {
  display: flex;
  align-items: center;
  font-size: 17px;
  letter-spacing: 2.5px;
}

button.planner_btn span.img_box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

button.planner_btn span.img_box > img {
  width: 100%;
  height: 100%;
}

/* personnel */
.tab_content .personnel {
  width: 338px;
}

/* personnel - button */
.personnel > button {
  position: relative;
  display: block;
  width: 290px;
  height: 55px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  cursor: pointer;
}



.personnel > button > div {
  color: #767676;
  font-family: "MaplestoryOTFLight";
}

.personnel > button > div:nth-child(1) {
  margin-top: 5px;
  font-size: 11px;
}

.personnel > button > div:nth-child(2) {
  margin-top: 10px;
  font-size: 14px;
}

.personnel > button.passenger_btn > div:nth-child(2) {
  color: #000;
}

.personnel > button > div:nth-child(3) {
  height: 1px;
  background-color: black;
  margin-top: 10px;
}

.personnel > button:hover > div:nth-child(3) {
  visibility: hidden;
}

/* personnel - button - img_box */
.personnel > button .img_box {
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

.personnel > button .img_box img {
  width: 100%;
  height: 100%;
}

.personnel > button:hover .img_box {
  transform: translateX(-8px);
}

/* airplane_search_btn */
.tab_content .airplane_search_btn {
  display: block;
  width: 300px;
  height: 60px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 10px;
  background-color: #00256c;
  color: #fff;
  font-family: "MaplestoryOTFLight";
  font-size: 18px;
  cursor: pointer;
}