/* normalize */
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* contact-box */
.contact-box {
  width: 1903px;
  height: 745px;
  background-color: lightpink;
}

.contact-box > .contact-wrapper {
  display: flex;
  float: right;
  width: 1570px;
  height: 498px;
  margin-top: 247px;
}

/* contact-row */
.contact-wrapper > .contact-row-1 {
  width: 658px;
  height: 100%;
  background-color: lightblue;
}

.contact-row-1 > h1 {
  width: 100%;
  margin-bottom: 55px;
  background-color: lightgreen;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -3.75px;
}

.contact-row-1 > .notice {
  display: flex;
  align-items: center;
  width: 100%;
  height: 41px;
  padding: 11px 0;
  border: 1px solid red;
  border-bottom: 1px solid #d9d9d9;
  line-height: 1.4;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.42px;
}

.contact-wrapper > .contact-row-2 {
  width: 912px;
  height: 100%;
  background-color: lightcoral;
}
