* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* option-banner */
.option-banner {
  width: 1903px;
  margin: 0 auto;
  margin-bottom: 117px;
}

.option-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 911px;
  height: 240px;
  margin: 0 auto;
  border: 1px solid red;
}

.option-wrapper span {
  color: #000;
  font-size: 34px;
  font-weight: 400;
}

/* select-area */
.option-wrapper .select {
  border: none;
  border-bottom: 2.5px solid #000;
  margin-left: 5px;
  margin-right: 8px;
  font-weight: 600;
  font-size: 34px;
  line-height: 16px;
}


.select option {
  text-align: center;
  font-size: 18px;
}

.select option:hover {
  background: none;
  font-weight: 600;
}

/* slide-banner-area */
.slide-banner {
  position: relative;
  margin: 0 auto;
  width: 1903px;
}

.slide-wrapper {
  position: relative;
  width: 1251px;
  height: 617px;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s ease-out;
}

.slides li:not(:last-child) {
  float: left;
  margin-right: 30px;
}

.controls > div {
  display: flex;
  width: 80px;
  height: 80px;
  border: 1px solid #1c1c1c;
  border-radius: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

.controls .img-box {
  width: 44px;
  height: 44px;
}

.controls .img-box img {
  width: 100%;
  height: 100%;
}

.controls div.prev {
  position: absolute;
  top: 276px;
  left: 2%;
}

.controls div.next {
  position: absolute;
  top: 276px;
  right: 2%;
}

.controls div.none,
.controls div.none {
  display: none;
}

/* slide-box */
.slide-box {
  width: 395px;
  height: 615px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: #fff;
}

.slide-box .img-box {
  width: 100%;
  height: 310px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.slide-box .img-box > img {
  width: 100%;
  height: 100%;
}

.slide-box .des {
  display: flex;
  width: 100%;
  height: 315px;
  flex-direction: column;
}

.slide-box .des > h1 {
  width: 342px;
  margin: 47px 26px 0;
  font-size: 29px;
  font-weight: 400;
}

.slide-box .des > p {
  width: 332px;
  height: 61px;
  margin: 31px;
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

.slide-box .des .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 30px;
  text-align: center;
}

.slide-box .des .button a {
  width: 100%;
}
